<h1><%= @cat.name %>'s New Toy</h1>

<form action="/toys" method="POST">
    <input type="hidden" name="toy[cat_id]" value="<%= @cat.id %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="toy_name">Toy Name</label><br>
    <input id="toy_name" type="text" name="toy[name]" value="<%= @toy.name %>">
    <br>
    <br>

    <label for="toy_style">Toy Style</label>
    <select id="toy_style" name="toy[style]">
        <% Toy::STYLES.each do |style| %>
            <option value="<%= style %>" 
                <%= "selected" if @toy.style == style %>> <%= style.upcase %> 
            </option>
        <% end %>
    </select>

    <input type="submit" value="Create Toy!">
</form>

<br>
<a href=" <%= cats_url %> ">Back to all cats!</a>